<% 
    sort=(status, url, webQuery, sendStatusQuery, dateQuery)=>{
        let statusHtml = '';
        status.forEach(e=>{
            statusHtml += `<p><input type="checkbox" class="statusCheck" id="${e}" value="${e}" /><label for="${e}">${e}</label></p>`
        })
        return `
        <div id="sort_icon" data-openclose="0" onclick="sort_open_close(this);">
            <i class="fa fa-filter" aria-hidden="true"></i>
            
        </div>
        <div id="sort">
            
            <div id="status_sort">
                <div>
                    ${statusHtml}
                </div>
                <input type="button" value="filter" onclick="filterFunc('${url}/customer-data', '${webQuery}', '${dateQuery}')" />
                <input type="hidden" value="" id="statusQuery" />
            </div>
            <div id="web">
                <select name="web" id="" onchange="selectWeb(this, '${sendStatusQuery}', '${url}/customer-data', '${dateQuery}')">
                    <option>Chọn website</option>
                    <option value="all">All</option>
                    <option value="jemmia.vn">jemmia.vn</option>
                    <option value="jemmiasilver">jemmiasilver</option>
                </select>
            </div>
            <div id="timefilter">
                <input type="date" name="from" id="dateFrom">
                <input type="date" name="to" id="dateTo">
                <input type="button" onclick="filterDate('${url}/customer-data', '${sendStatusQuery}', '${webQuery}')" class="button" value="filter">
            </div>
            <input type="text" id="search" placeholder="search ..." onkeyup="search(this, '${url}/customer-data', '${sendStatusQuery}', '${webQuery}', '${dateQuery}')">
        </div>
        `;
    }
%> 